<% if flash[:alert] %>
  <div><%= flash[:alert] %></div>
<% end %>

<h1>Nineteenth Century Lives</h1>
<h2>Documenting families who lived in New York City in the 19th Century</h2>

<h3><%= link_to "Index of People", people_path %></h3>
<h3><%= link_to "Index of Neighborhoods", neighborhoods_path %></h3>
<h3><%= link_to "Index of Boroughs", boroughs_path %></h3>
