
  <% if flash[:alert] %>
  <div><%= flash[:alert] %></div>
  <% end %>

  <h1>Family Tree Builder</h1>
  <h2>For the United States</h2>

  <h3><a href="#" name="people" onclick="loadPeopleIndex(name)">Index of People</a></h3>
  <div id="people">
  </div>
  <h3><a href="#" name="patriarchs_and_matriarchs" onclick="loadPeopleIndex(name)">Index of Patriarchs and Matriarchs</a></h3>
  <div id="patriarchs_and_matriarchs"></div>
  <h3><a href="#" id="load_cities_index" onclick="loadCitiesIndex()">Index of Cities</a></h3>
  <div id="cities"></div>
  <h3><a href="#" onclick="loadStatesIndex()">Index of States</a></h3>
  <div id="states"></div>
