
  <% if flash[:alert] %>
  <div><%= flash[:alert] %></div>
  <% end %>

  <h1>Family Tree Builder</h1>
  <h2>For the United States</h2>

  <h3><a href="#" class="js-people-index" data-path="people">Index of People</a></h3>
  <div id="people"></div>
  <h3><a href="#" class="js-people-index" data-path="patriarchs_and_matriarchs">Index of Patriarchs and Matriarchs</a></h3>
  <div id="patriarchs_and_matriarchs"></div>
  <h3><a href="#" id="js-cities-index" data-path="cities">Index of Cities</a></h3>
  <div id="cities"></div>
  <h3><a href="#" id="js-states-index" data-path="states">Index of States</a></h3>
  <div id="states"></div>
