
<div class="container">
  <% if flash[:alert] %>
  <div><%= flash[:alert] %></div>
  <% end %>

  <h1>Family Tree Builder</h1>
  <h2>For the United States</h2>

  <h3><a href="#" class="load_index" id="load_people_index" data-active="false">Index of People</a></h3>
  <div id="people">
  </div>
  <h3><a href="#" class="load_index" id="load_patriarchs_and_matriarchs_index" data-active="false">Index of Patriarchs and Matriarchs</a></h3>
  <div id="patriarchs_and_matriarchs"></div>
  <h3><a href="#" class="load_index" id="load_cities_index" data-active="false">Index of Cities</a></h3>
  <div id="cities"></div>
  <h3><a href="#" class="load_index" id="load_states_index" data-active="false">Index of States</a></h3>
  <div id="states"></div>

</div>
