<h1>Patriarchs and Matriarchs</h1>

<h2><%= link_to "Add a New Person", new_person_path %></h2>
<% @people.each do |person| %>
  <%= render :partial => "partials/index", locals: {path: person_path(person), item: person} %>
<% end %>
