<p><strong><a href="#" onclick="loadStateInfo(this)" class="load_info" data-id={{id}} data-active="false">{{name}}</a></strong>

<a href="/states/{{id}}">(View on Separate Page)</a></p>
<div id="state-{{id}}-cities"></div>
